main>div {
    height: 90vh;

}

#menu {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    
}

#cart {
    background-color: coral;
    display: none;
    display: flex;
}

#order {
    background-color: cornflowerblue;
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    height: 90vh;
}

#searhInput {
    height: 30px;
    width: 200px;
    margin: 5px;
}

.card {
    position: relative;
    width: 230px;
    height: 350px;
    background-color: bisque;
}

.cartContainer li{
    font-size: larger;
    padding: 10px;
}

.cartContainer li span {
    background-color: antiquewhite;
    padding: 2px 5px;
}

#deliveryForm {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}