main>div {
    height: 90vh;

}

#menu {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    
}

#cart {
    background-color: coral;
    display: none;
}

#order {
    background-color: cornflowerblue;
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    height: 90vh;
}

#searhInput {
    height: 30px;
    width: 200px;
    margin: 5px;
}

.card {
    position: relative;
    width: 230px;
    height: 350px;
    background-color: bisque;
}