main>div {
    height: 85vh;
}

#menu {
    background-color: aquamarine;
    display: flex;
}

#cart {
    background-color: coral;
    display: none;
}

#order {
    background-color: cornflowerblue;
    display: none;
}